@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
  font-size: 90%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

:root {
  --background: #fafafa;
  --foreground: #09090b;
}